.btn:focus {
    border: none !important; /* if you want to remove borders at all*/
    outline: none !important;
    box-shadow: none !important;
}

.btn.btnClass {
    border: none;
    border-radius: 13px !important;
    background: #7126B5;
    color: white;
}

.btn.button {     
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}

.btn.button.btn-list:hover {
    color: #7126B5;
}

.btn.button.btn-notification:hover {
    color: #7126B5;
}

.btn.button.btn-user:hover {
    color: #7126B5;
}


.dropdown-item.notif-card {
    padding-left: 20px;
}

@media only screen and (max-width: 768px) {
    #btn-group {
        display: none;
    }
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 4px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7126B5;
}

