.modal-btn {
    float: right;
}

.modal-btn .btn {
    margin-left: 10px;
}

.modal-content {
    border-radius: 16px;
}

.modal-card {
    background-color: #EEEEEE;
    padding: 16px;
    border-radius: 16px;
}

.modal-card-img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin: 7px 5px 5px 5px;
}

.modal-card-desc {
    margin: 7px 5px 5px 0;
}

.title-center {
    text-align: center;
}

.btn-status {
    background: white;
}

.btn-status:hover{
    background: #7126B5;
    color: white;
}

.btn-confirm {
    color: white;
}

.btn-confirm:hover{
    color: #D0D0D0;
}