.form-control{
    border-radius: 13px !important;
}

.border-radius{
    border-radius: 13px !important;
    background-color: #7126B5 !important;
}

.square {
    height: 17vh;
    width: 17vh;
    /* background-color: aqua; */
}

.profil_picture{
    /* height: 33vh; */
    width: 37vh;
    object-fit: contain;
}

.btn-edit {
    background-color: white;
}

.btn-edit:hover {
    background-color: #7126B5;
    color: white; 
}

.btn-logout {
    color:white;
}

.btn-logout:hover {
    color: #D0D0D0;
}

@media only screen and (max-width: 575px) {
    .coba-Abs {
        position: absolute !important;
        transform: translateX(-50%)!important;
        bottom: 0!important;
        left: 50%!important;
    }
    .coba-Rel {
        position: relative !important;
        padding-top: 15vh;
    }
    .coba-Abs1 {
        position: absolute !important;
        top: 5%!important;
        left: 12.5%!important;
        background-color: white !important;
    }

    .coba-Abs2 {
        position: absolute !important;
        top: 15%!important;
        left: 12.5%!important;
    }
}