.btn-add-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px dashed #D0D0D0;
    text-decoration: none;
    color: #8A8A8A;
}

.btn-add-product:hover{
    color: #8A8A8A;
}

.btn-add-product_icon{
    font-size: 2rem;
}

.btn-add-product_text{
    font-size: 1rem;
}

.product-subtitle{
    color: #8A8A8A;
    font-size: 0.8rem;
}

.product-price{
    font-weight: bold;
}

.btn-category:focus {
    color: #7126B5;
}

.btn-edit {
    background: white;
}

.btn.btn-edit:hover {
    background: #7126B5;
    color: white;
}

.btn-edit:hover{
    background: #7126B5;
    color: white;
}

.btn-delete {
    color: white;
}

.btn-delete:hover {
    color: #D0D0D0;
}


@media screen and (max-width: 576px) {
    .product-img{
        width: 50px;
    }

    .profile-name{
        font-size: 18px;
        margin: 0;
    }

    .profile-city{
        font-size: 14px;
        margin: 0;
    }
}