.btn-publish{
    position: sticky;
    bottom: 35px;
}

.btn-category{
    text-decoration: none;
    color: #000; 
}

.btn-category:hover{
    color: #7126B5; 
}

.btn-category.active{
    color: #7126B5;
}

.list-group-item:not(:last-child){
    border-bottom: 1px solid #D0D0D0;
}