.detail-content {
    border-radius: 16px;
}

.detail-card {
    background-color: white;
    padding: 16px;
}

.detail-card-img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin: 7px 5px 5px 5px;
}

.detail-card-desc {
    margin: 7px 5px 5px 0;
}

.detail-desc {
    font-size: 12px;
}

.detail-desc-right {
    float: right;
}

.detail-button {
    float: left;
}