.notificationWrapper{
    position: relative;
}

.notif{
    position: absolute;
    background-color: #ffffff;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 15px 20px;
    width: 400px;
    top: 50px;
    right: 0;
    z-index: 999;
    display: none;
}

.notif.show{
    display: block;
}

.notifItem:not(:last-child)::after{
    content: "";
    display: block;
    border-bottom: .5px solid #8A8A8A;
    margin: 25px 0;
}

.notifType,
.notifTime{
    color: #8A8A8A;
    font-size: 0.85rem;
}

.notifProduct,
.notifPrice,
.notifOffer{
    font-size: 1rem;
    font-weight: normal;
}
